.container {
  padding: 0 12.6rem;
}

footer {
  background-color: #1e1e1e;
  padding-top: 6rem;
  height: 70rem;
}

.footerP1 {
  display: flex;
  justify-content: space-between;
}

.footerP1 img {
  width: 17rem;
  height: 7.9rem;
}

.socials {
  display: flex;
  gap: 1.2rem;
}

.socials div {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #8e8e8e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.footerCards {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.footerP2 {
  width: 28rem;
}

.footerP2 h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.599rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  margin-top: 4.8rem;
}

.footerP2 hr {
  border: 0.1rem solid #fff;
  margin-top: 3.1rem;
}

.footerP2 .linksSec {
  display: flex;
  gap: 11.8rem;
  margin-top: 3.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.links li a {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
}

.card {
  width: 50.9rem;
  height: 28.4rem;
  padding: 4.4rem 3.4rem;
  background-color: #343434;
  border-radius: 4rem;
  margin-top: 3.2rem;
}

.card h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.599rem;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
}

.card p {
  width: 42rem;
  margin-top: 1.2rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.card button {
  width: 16.9rem;
  height: 7rem;
  border-radius: 8rem;
  margin-top: 2.4rem;
  background-color: #88b702;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s ease;
}

.card button:active {
  background-color: #6fa001;
  transition: 0.1s ease;
}

.footerP3 {
  margin-top: 12.5rem;
}

.footerP3 h1 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-top: 3rem;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 0 6rem;
  }

  .footerCards {
    gap: 4rem;
  }

  .card {
    width: 44rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 0 4rem;
  }

  footer {
    height: auto;
    padding-bottom: 6rem;
  }

  .footerCards {
    flex-direction: column;
    gap: 4rem;
  }

  .card {
    width: 100%;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }

  footer {
    height: auto;
    padding: 5rem 2rem;
  }

  .footerP1 {
    flex-direction: column;
    gap: 2rem;
  }

  .footerCards {
    flex-direction: column;
    gap: 4rem;
  }

  .linksSec {
    gap: 4rem !important;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .card p {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .container {
    padding: 0 2rem;
  }

  footer {
    padding: 4rem 0;
    height: auto;
  }

  .footerP1 {
    flex-direction: column;
    gap: 2.4rem;
  }

  .footerP1 img {
    width: 14rem;
    height: auto;
  }

  .linksSec {
    flex-direction: column;
    gap: 2rem;
  }

  .footerP2 .linksSec {
    gap: 1.6rem;
  }

  .footerCards {
    flex-direction: column;
  }

  .card {
    height: auto;
    width: 100%;
    border-radius: 2.4rem;
  }

  .card p {
    width: 90%;
  }

  .card button {
    width: 100%;
  }

  .footerP3 {
    text-align: center;
  }
}
