.container {
  padding: 8rem 12.6rem;
}

.formTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 6.6rem;
  line-height: 8rem;
  letter-spacing: -1px;
  vertical-align: middle;
}

.form {
  width: 60%;
  margin-top: 5.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.fieldFull {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.9px;
  vertical-align: middle;
  text-transform: uppercase;
}

input,
textarea {
  background: #1e1e1e;
  border: none;
  outline: none;
  padding: 2rem 2rem;
  border-radius: 100px;
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 0%;
  vertical-align: middle;
}

textarea {
  border-radius: 1.6rem;
  padding-bottom: 11.4rem;
  resize: none;
}

.sendBtn {
  border-radius: 80px;
  background: #88b702;
  color: #ffffff;
  cursor: pointer;
  justify-self: start;
  transition: 0.1s ease;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.6px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 2.8rem 3.2rem;
}

.sendBtn:hover {
  background-color: #6fa001;
  transition: 0.1s ease;
}

.formBox {
  display: flex;
  justify-content: space-between;
}

.formTexts {
  width: 32%;
  margin-top: 5.2rem;
}

.formTextTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 2.2rem;
  line-height: 3.1rem;
  letter-spacing: 0.22px;
  vertical-align: middle;
}

.formTextDescription {
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 1.6rem;
}

.emails {
  display: flex;
  flex-direction: column;
  margin-top: 3.6rem;
  gap: 2.8rem;
}

.email {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icons {
  width: 3.8rem;
  height: 3.8rem;
  background: #88b702;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon {
  width: 50%;
}

.links {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* --------------------------------------------------------------------------- */
/* Faq */
/* --------------------------------------------------------------------------- */

.faqContainer {
  padding: 12rem 32rem;
}

.faqTitle {
  text-align: center;
  font-weight: 700;
  font-style: Bold;
  font-size: 6.6rem;
  line-height: 8rem;
  letter-spacing: -1px;
  vertical-align: middle;
  margin-bottom: 8rem;
}

.item {
  border-bottom: 2px solid #333;
  padding: 3.2rem 0;
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.8rem;
  user-select: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 2.8rem;
  line-height: 3rem;
  letter-spacing: 0.28px;
  vertical-align: middle;
}

.faqIcon {
  font-size: 2.4rem;
}

.answer {
  color: #cccccc;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 1.2rem;
  margin-left: 2rem;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 8rem 6rem;
  }
  .icons {
    width: 3.8rem;
    height: 3.8rem;
    background: #88b702;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  /* --------------------------------------------------------------------------- */
  /* Faq */
  /* --------------------------------------------------------------------------- */

  .faqContainer {
    padding: 12rem 14rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 6rem 4rem;
  }

  .formTitle {
    font-size: 38px;
    line-height: 46px;
    margin-top: 48px;
  }

  .form {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .fieldFull {
    grid-column: 1;
  }

  .sendBtn {
    grid-column: 1;
    width: 100%;
  }

  .formTexts {
    width: 100%;
    margin-top: 5.2rem;
  }

  .formBox {
    flex-direction: column;
    margin-top: 0;
    gap: 4.8rem;
  }

  .formTextTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0px;
  }

  .formTextDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .emails {
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
    margin-top: 2.8rem;
  }

  /* --------------------------------------------------------------------------- */
  /* Faq */
  /* --------------------------------------------------------------------------- */

  .faqContainer {
    padding: 12rem 10rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .container {
    padding: 6rem 2.4rem;
  }

  .formTitle {
    font-size: 38px;
    line-height: 46px;
    margin-top: 48px;
  }

  .form {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .fieldFull {
    grid-column: 1;
  }

  .sendBtn {
    grid-column: 1;
    width: 100%;
  }

  .formTexts {
    width: 100%;
    margin-top: 5.2rem;
  }

  .formBox {
    flex-direction: column;
    margin-top: 0;
    gap: 4.8rem;
  }

  .formTextTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0px;
  }

  .formTextDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .emails {
    margin-top: 2.8rem;
    gap: 2.4rem;
  }

  /* --------------------------------------------------------------------------- */
  /* Faq */
  /* --------------------------------------------------------------------------- */

  .faqTitle {
    font-size: 3.8rem;
    line-height: 4.6rem;
    letter-spacing: -1px;
    margin-bottom: 2rem;
  }

  .faqContainer {
    padding: 6rem 2.4rem;
  }

  .question {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .faqIcon {
    font-size: 2.4rem;
  }

  .answer {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 1.2rem;
    margin-left: 1.4rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .container {
    padding: 6rem 2.4rem;
  }

  .formTitle {
    font-size: 38px;
    line-height: 46px;
    margin-top: 48px;
  }

  .form {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .fieldFull {
    grid-column: 1;
  }

  .sendBtn {
    grid-column: 1;
    width: 100%;
  }

  .formTexts {
    width: 100%;
    margin-top: 5.2rem;
  }

  .formBox {
    flex-direction: column;
    margin-top: 0;
    gap: 4.8rem;
  }

  .formTextTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0px;
  }

  .formTextDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .emails {
    margin-top: 2.8rem;
    gap: 2.4rem;
  }

  /* --------------------------------------------------------------------------- */
  /* Faq */
  /* --------------------------------------------------------------------------- */

  .faqTitle {
    font-size: 3.8rem;
    line-height: 4.6rem;
    letter-spacing: -1px;
    margin-bottom: 2rem;
  }

  .faqContainer {
    padding: 6rem 2rem;
  }

  .question {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .faqIcon {
    font-size: 2.4rem;
  }

  .answer {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 1.2rem;
    margin-left: 1.4rem;
  }
}
