.container {
  max-width: 1180px;
  margin: 0 auto;
}

.yourProject h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
}

.yourProject p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  width: 496px;
  margin: 16px auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 26px;
  padding: 46px 0;
}

.card {
  width: 325px;
  background-color: #1e1e1e;
  border-radius: 40px;
  padding: 48px 22px 28px 28px;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 12px;
}

.bigCard {
  width: 477px;
  background-color: #88b702;
  color: white;
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  padding: 48px 22px;
  position: relative;
  overflow: hidden;
}

.card h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 25.99px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 10px;
}

.card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 100%;
  text-align: start;
  margin: 0;
}

.icon {
  width: 68px;
  height: 68px;
  background: #88b702;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 42px;
  height: 34px;
}

.bigCard .icon img {
  position: absolute;
  width: 348px;
  height: 500px;
  top: 195px;
  left: 55px;
}

.bigCard h3 {
  position: absolute;
  top: 44px;
}

.bigCard p {
  position: absolute;
  width: 383px;
  top: 92px;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .yourProject h2 {
    width: 314px;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 36px;
    text-align: start;
  }

  .yourProject p {
    width: 314px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: start;
    margin: 10px 0;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card {
    width: 358px;
  }

  .bigCard {
    grid-column: auto;
    grid-row: auto;
  }

  .card h3,
  .bigCard h3 {
    font-size: 18px;
    margin-top: 10px;
    width: 300px;
  }

  .card p,
  .bigCard p {
    font-size: 16px;
    width: 300px;
    text-align: start;
    margin: 0;
  }

  .bigCard {
    width: 358px;
    height: 622px;
  }

  .icon {
    width: 68px;
    height: 68px;
    background: #88b702;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon img {
    width: 42px;
    height: 34px;
  }

  .bigCard .icon img {
    position: absolute;
    width: 281px;
    height: 500px;
    top: 195px;
    left: 38px;
  }
}
