.container {
  padding: 0 12.6rem;
}

.project {
  margin-top: 17rem;
  margin-bottom: 11rem;
}

.project span h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 6.6rem;
  line-height: 8rem;
  letter-spacing: -1px;
  vertical-align: middle;
}

.cards {
  margin-top: 4rem;
}

.card {
  overflow: hidden;
  height: 50rem;
  border-radius: 4rem;
  background-color: #1e1e1e;
}

.img {
  height: 21.5rem;
}

.card button {
  padding: 1rem 1.4rem;
  border-radius: 1000px;
  background-color: #88b702;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-left: 2.2rem;
  margin-top: -2.2rem;
}

.card h3 {
  margin-left: 2.2rem;
  margin-top: 4rem;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.1rem;
}

.card p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-left: 2.2rem;
  margin-top: 1.6rem;
  width: 90%;
}

/* ===== DOTS ===== */

.projectDots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
}

.projectDot {
  width: 12px;
  height: 12px;
  background: #444;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 1;
}

.projectDotActive {
  background: #88b702;
  transform: scale(1.2);
}

/* ===== ADAPTIVE ===== */

@media (max-width: 1280px) {
  .projectDots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
  }
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 0 6rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 0 4rem;
  }

  .project {
    margin-top: 8rem;
  }

  .project span h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .img {
    height: 21.5rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }

  .project {
    margin-top: 6rem;
  }

  .project span h1 {
    font-size: 3.8rem;
    line-height: 4.6rem;
    text-align: start;
  }

  .card {
    height: 47.5rem;
  }

  .img {
    height: 21.5rem;
  }

  .card h3 {
    font-size: 1.8rem;
  }

  .card p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 88%;
  }
}

@media (min-width: 320px) and (max-width: 389px) {
  .container {
    padding: 0 2rem;
  }

  .project span h1 {
    font-size: 3.4rem;
    line-height: 4rem;
  }

  .card {
    height: 47.5rem;
  }

  .img {
    height: 21.5rem;
  }

  .card h3 {
    font-size: 1.8rem;
  }

  .card p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 88%;
  }
}
