.container {
  padding: 17rem 21rem;
}

.headTitle {
  padding: 0 2.4rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 6.6rem;
  line-height: 7rem;
  text-align: center;
}

.headDescription {
  padding: 2.1rem 24rem;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

/*---------------------------------------------------------------------------
      /// Build your project
--------------------------------------------------------------------------- */

.yourProject {
  padding: 0 13rem;
}

.projectTitle {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.5rem;
  text-align: center;
  color: #ffffff;
}

.projectDescription {
  padding: 1.6rem 38rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: center;
  color: #ffffff;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2.6rem;
  padding: 4.6rem 0;
}

.card {
  background-color: #1e1e1e;
  border-radius: 4rem;
  padding: 4.8rem 2.8rem;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1.2rem;
}

.bigCard {
  width: 47.7rem;
  background-color: #88b702;
  color: white;
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  padding: 4.8rem 2.2rem;
  position: relative;
  overflow: hidden;
}

.cardTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 1rem;
}

.cardDescription {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: start;
  margin: 0;
}

.icons {
  width: 6.8rem;
  height: 6.8rem;
  background: #88b702;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 4.2rem;
  height: 3.4rem;
}

.bigCard .icons .icon {
  position: absolute;
  width: 34.8rem;
  height: 50rem;
  top: 21.5rem;
  left: 5.5rem;
}

.bigCard .cardTitle {
  position: absolute;
  top: 4.4rem;
}

.bigCard .cardDescription {
  position: absolute;
  width: 38.3rem;
  top: 9.2rem;
}

/*---------------------------------------------------------------------------
      /// Our advantages
--------------------------------------------------------------------------- */

.advantages {
  padding: 21.5rem 17.2rem;
  display: flex;
  justify-content: space-between;
}

.advantagesText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantagesTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
}

.advantagesDescription {
  width: 47rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.advantagesInfo {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  gap: 1.6rem;
}

.advantagesInfo .advantagesIcons {
  background-color: #88b702;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantagesIcons {
  width: 3rem;
  height: 3rem;
}

.advantagesInfoText {
  width: 42rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

/*---------------------------------------------------------------------------
      /// Why Choose Us
--------------------------------------------------------------------------- */

.chooseUsTexts {
  padding: 0 12.6rem;
  overflow: hidden;
}

.section {
  display: flex;
}

.imgLaptop {
  height: 58.5rem;
}

.chooseUs {
  display: flex;
  margin-top: 21.5rem;
  justify-content: space-between;
}

.chooseUsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chooseUsTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
}

.chooseUsDescription {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  width: 47rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.chooseUsInfo {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  gap: 1.6rem;
}

.chooseUsInfo .icons {
  background-color: #88b702;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons .icon {
  width: 3rem;
  height: 3rem;
}

.chooseUsInfoTitle {
  width: 42rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

/*---------------------------------------------------------------------------
      /// Build the Future of Technology with Us
--------------------------------------------------------------------------- */

.buildFeatureSection {
  background-color: #88b702;
}

.buildFeature {
  padding: 0 12rem;
  margin-top: 21.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buildFeatureTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  vertical-align: middle;
  width: 58.8rem;
}

.buildFeatureDescription {
  width: 49.6rem;
  margin-top: 1.6rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  vertical-align: middle;
}

.buildFeatureBtn {
  padding: 2.7rem 3.2rem;
  border-radius: 8rem;
  background-color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.6px;
  text-align: center;
  text-transform: uppercase;
  color: #88b702;
  margin-top: 3.2rem;
  cursor: pointer;
}

.buildFeatureImg {
  margin-top: -7.5rem;
}

/*---------------------------------------------------------------------------
      /// Reviews
--------------------------------------------------------------------------- */

.review {
  padding: 20.6rem 12.6rem;
}

.reviewTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  margin-bottom: 4rem;
}

.reviewBtn {
  background-color: #88b702;
  margin-top: 2.2rem;
  width: 35.8rem;
  height: 7rem;
  border-radius: 8rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.6px;
  text-align: center;
  color: #ffffff;
  display: none;
}

.reviewCard {
  width: 48.5%;
  background: #1e1e1e;
  border-radius: 40px;
  padding: 65px 50px;
}

.reviewCards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.cardFeeback {
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 2.2rem;
}

.userAvatar {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
}

.userFullName {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
}

.userRole {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 6px;
}

/*---------------------------------------------------------------------------
      /// StartWithMe
--------------------------------------------------------------------------- */

.starts {
  display: flex;
  justify-content: space-between;
  padding: 0 12.6rem;
}

.startText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
}

.startDescription {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  width: 85%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.startInfo {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  gap: 1.6rem;
}

.startInfo .icons {
  background-color: #88b702;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.˝startInfo .icons .icon {
  width: 3rem;
  height: 3rem;
}

.startInfoTitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 10rem 6rem;
  }

  .headTitle {
    width: 70rem;
    margin: 0 auto;
    padding: 0;
    font-style: Bold;
    font-size: 4.6rem;
    line-height: 5.2rem;
  }

  .headDescription {
    width: 50rem;
    margin: 0 auto;
    padding: 1.8rem 0;
    font-size: 1.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Build your project
--------------------------------------------------------------------------- */

  .yourProject {
    padding: 0 5rem;
  }

  .projectDescription {
    padding: 0;
    width: 48rem;
    margin: 0 auto;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding: 4rem 0;
  }

  .card {
    background-color: #1e1e1e;
    border-radius: 4rem;
    padding: 3.8rem 2rem;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1.2rem;
  }

  .bigCard {
    width: 40rem;
    background-color: #88b702;
    color: white;
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    padding: 4rem 2.2rem;
    position: relative;
    overflow: hidden;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 30rem;
    height: 50rem;
    top: 32.5rem;
    left: 5.5rem;
  }

  .bigCard .cardTitle {
    position: absolute;
    top: 4.4rem;
  }

  .bigCard .cardDescription {
    position: absolute;
    width: 30rem;
    top: 9.2rem;
  }

  /*---------------------------------------------------------------------------
      /// Our advantages
--------------------------------------------------------------------------- */

  .advantages {
    padding: 14rem 6rem;
    display: flex;
    justify-content: space-between;
  }

  .advantagesTitle {
    font-size: 4rem;
    line-height: 5rem;
  }

  .advantagesDescription {
    width: 38rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .advantagesImg {
    width: 40rem;
  }

  .advantagesInfoText {
    width: 34rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  /*---------------------------------------------------------------------------
      /// Why Choose Us
--------------------------------------------------------------------------- */

  .chooseUsTexts {
    padding: 0 6rem;
    /* overflow: hidden; */
  }

  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .imgLaptop {
    width: 38.4rem;
    height: auto;
    margin: 10rem 0rem;
  }

  .chooseUs {
    margin-top: 20rem;
  }

  .chooseUsTitle {
    font-size: 3.9rem;
  }

  .chooseUsDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 42rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .chooseUsInfoTitle {
    width: 38rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Build the Future of Technology with Us
--------------------------------------------------------------------------- */

  .buildFeature {
    padding: 0 6rem;
  }

  .buildFeatureTitle {
    margin-top: 4rem;
    font-size: 3.6rem;
    width: 50rem;
  }

  .buildFeatureDescription {
    width: 42rem;
    font-size: 1.6rem;
  }

  .buildFeatureImg {
    width: 30em;
    margin-top: 14.2rem;
  }

  .buildFeatureBtn {
    padding: 3rem 2rem;
    font-size: 1.6rem;
    margin-top: 3.2rem;
    margin-bottom: 6rem;
  }

  /*---------------------------------------------------------------------------
      /// Reviews
--------------------------------------------------------------------------- */

  .review {
    padding: 16rem 6rem;
  }

  .reviewCards {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  /*---------------------------------------------------------------------------
      /// StartWithMe
  --------------------------------------------------------------------------- */

  .starts {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
  }

  .video {
    width: 50%;
    height: fit-content;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 10rem 4rem;
  }

  .headTitle {
    width: 55rem;
    margin: 0 auto;
    font-style: Bold;
    font-size: 3.4rem;
    line-height: 4.2rem;
  }

  .headDescription {
    width: 35rem;
    margin: 0 auto;
    padding: 1.4rem 0;
    font-size: 1.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Build your project
--------------------------------------------------------------------------- */

  .yourProject {
    padding: 0 4rem;
  }

  .projectTitle {
    font-size: 3.8rem;
    line-height: 5rem;
  }

  .projectDescription {
    padding: 0;
    width: 50rem;
    margin: 0 auto;
    font-size: 2rem;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    width: 35.8rem;
    margin: 0 auto;
  }

  .bigCard {
    grid-column: auto;
    grid-row: auto;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 18px;
    margin-top: 10px;
    width: 300px;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 16px;
    width: 30rem;
    text-align: start;
    margin: 0;
  }

  .bigCard {
    width: 358px;
    height: 622px;
  }

  .icons {
    width: 68px;
    height: 68px;
    background: #88b702;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 42px;
    height: 34px;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 28.1rem;
    height: 50rem;
    top: 19.5rem;
    left: 3.8rem;
  }

  /*---------------------------------------------------------------------------
      /// Our advantages
--------------------------------------------------------------------------- */

  .advantages {
    padding: 0 6rem;
    margin-top: 0;
    flex-direction: column;
  }

  .advantagesImg {
    width: 30rem;
    margin: 0 auto;
  }

  .advantagesText {
    margin-top: 4rem;
  }

  .advantagesTitle {
    text-align: center;
    font-size: 3.2rem;
    line-height: 3.6rem;
    margin-top: 2rem;
  }

  .advantagesDescription {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 33rem;
    margin-top: 1.6rem;
    margin: 1.6rem auto;
  }

  .advantagesInfo {
    width: 33rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin: 1.6rem auto;
  }

  .advantagesInfoText {
    width: 22.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Why Choose Us
--------------------------------------------------------------------------- */

  .chooseUsTexts {
    padding: 0 4rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imgLaptop {
    padding-top: 2rem;
    height: 40rem;
  }

  .chooseUs {
    display: flex;
    margin-top: 21.5rem;
    justify-content: space-between;
  }

  .chooseUsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chooseUsTitle {
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
  }

  .chooseUsDescription {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 33rem;
    margin: 1.6rem auto;
  }

  .chooseUsInfoTitle {
    width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Build the Future of Technology with Us
--------------------------------------------------------------------------- */

  .buildFeature {
    padding: 0 4rem;
    margin-top: 12rem;
  }

  .buildFeatureTitle {
    font-size: 3rem;
    width: 40rem;
  }

  .buildFeatureDescription {
    width: 36rem;
    font-size: 1.5rem;
  }

  .buildFeatureImg {
    width: 30rem;
    margin-top: 16rem;
  }

  /*---------------------------------------------------------------------------
      /// Reviews
--------------------------------------------------------------------------- */

  .review {
    padding: 8rem 4rem;
  }

  .reviewTitle {
    font-size: 3.6rem;
    line-height: 5.5rem;
    margin-bottom: 4rem;
  }

  .reviewCard {
    width: 48%;
    padding: 40px 30px;
  }

  .reviewCards {
    flex-wrap: nowrap;
    gap: 16px;
  }

  .cardFeeback {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .userAvatar {
    width: 5rem;
    height: 5rem;
  }

  .userFullName {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .userRole {
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin-top: 6px;
  }

  /*---------------------------------------------------------------------------
      /// StartWithMe
--------------------------------------------------------------------------- */

  .starts {
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
  }

  .video {
    width: 100%;
    height: fit-content;
    margin-top: 2.6rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }

  .headTitle {
    width: 100%;
    padding: 0;
    text-align: start;
    font-style: Bold;
    font-size: 3.2rem;
    line-height: 4.6rem;
  }

  .headDescription {
    width: 100%;
    padding: 1.6rem 0;
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Build your project
--------------------------------------------------------------------------- */

  .yourProject {
    padding: 0 2.4rem;
  }

  .projectTitle {
    text-align: start;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .projectDescription {
    text-align: start;
    padding: 0;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    width: 35rem;
  }

  .bigCard {
    grid-column: auto;
    grid-row: auto;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    width: 30rem;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 1.6rem;
    width: 30rem;
    text-align: start;
    margin: 0;
  }

  .bigCard {
    width: 35rem;
    height: 62.2rem;
  }

  .icons {
    width: 6.8rem;
    height: 6.8rem;
    background: #88b702;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 4.2rem;
    height: 3.4rem;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 28.1rem;
    height: 50rem;
    top: 19.5rem;
    left: 3.8rem;
  }

  /*---------------------------------------------------------------------------
      /// Our advantages
--------------------------------------------------------------------------- */

  .advantages {
    padding: 0 2.4rem;
    margin-top: 0;
    flex-direction: column;
  }

  .advantagesImg {
    width: 30rem;
  }

  .advantagesText {
    margin-top: 4rem;
  }

  .advantagesTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .advantagesDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 33rem;
    margin-top: 1.6rem;
  }

  .advantagesInfo {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    gap: 1.6rem;
  }

  .advantagesInfoText {
    width: 22.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Why Choose Us
--------------------------------------------------------------------------- */

  .chooseUsTexts {
    margin-top: 0;
    padding: 0 2.4rem;
  }

  .section {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .imgLaptop {
    padding-top: 2rem;
    width: 34rem;
    height: auto;
  }

  .chooseUs {
    display: flex;
    margin-top: 10rem;
    justify-content: space-between;
  }

  .chooseUsText {
    display: flex;
    flex-direction: column;
  }

  .chooseUsTitle {
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: start;
  }

  .chooseUsDescription {
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 30rem;
    margin: 1.6rem 0;
  }

  .chooseUsInfoTitle {
    width: 28rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Build the Future of Technology with Us
--------------------------------------------------------------------------- */
  .buildFeature {
    flex-direction: column;
    align-items: center;
  }

  .buildFeatureTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
    width: 30rem;
    margin: 2rem auto;
    text-align: center;
  }

  .buildFeatureDescription {
    width: 33rem;
    margin: 1.6rem auto;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
  }

  .buildFeatureBtn {
    width: 35.8rem;
    margin-top: 1.6rem;
  }

  .buildFeatureImg {
    margin-top: 0;
    width: 100%;
    height: auto;
  }

  /*---------------------------------------------------------------------------
      /// Reviews
--------------------------------------------------------------------------- */

  .review {
    padding: 6rem 2.4rem;
  }

  .reviewTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 4rem;
  }

  .reviewBtn {
    width: 100%;
    display: block;
    margin-bottom: 1.6rem;
  }

  .reviewCard {
    width: 100%;
    padding: 65px 50px;
  }

  .reviewCards {
    gap: 16px;
  }

  .cardFeeback {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }

  .user {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    gap: 2.2rem;
  }

  .userAvatar {
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
  }

  .userFullName {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  .userRole {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 6px;
  }

  /*---------------------------------------------------------------------------
      /// StartWithMe
--------------------------------------------------------------------------- */

  .starts {
    padding: 2.4rem;
    flex-direction: column;
  }

  .startText {
    margin-top: 4rem;
  }

  .startTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .startDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 80%;
    margin-top: 1.6rem;
  }

  .startInfo {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    gap: 1.6rem;
  }

  .startInfoTitle {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .starts .video {
    margin-top: 4rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .container {
    padding: 0 2.4rem;
  }

  .headTitle {
    width: 100%;
    padding: 0;
    text-align: start;
    font-style: Bold;
    font-size: 3.2rem;
    line-height: 4.6rem;
  }

  .headDescription {
    width: 100%;
    padding: 1.6rem 0;
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Build your project
--------------------------------------------------------------------------- */

  .yourProject {
    padding: 0 2.4rem;
  }

  .projectTitle {
    text-align: start;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .projectDescription {
    text-align: start;
    padding: 0;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    width: 27rem;
    margin: 0 auto;
  }

  .bigCard {
    grid-column: auto;
    grid-row: auto;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    width: 24rem;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 1.6rem;
    width: 22rem;
    text-align: start;
    margin: 0;
  }

  .bigCard {
    width: 27rem;
    height: 42rem;
  }

  .icons {
    width: 6.8rem;
    height: 6.8rem;
    background: #88b702;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 4.2rem;
    height: 3.4rem;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 22rem;
    height: 30rem;
    top: 22rem;
    left: 2.2rem;
  }

  /*---------------------------------------------------------------------------
      /// Our Advantages
--------------------------------------------------------------------------- */

  .advantages {
    padding: 0 2.4rem;
    margin-top: 0;
    flex-direction: column;
  }

  .advantagesImg {
    width: 26rem;
  }

  .advantagesText {
    margin-top: 4rem;
  }

  .advantagesTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .advantagesDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 28rem;
    margin-top: 1.6rem;
  }

  .advantagesInfo {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    gap: 1.6rem;
  }

  .advantagesInfoText {
    width: 22rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Why Choose Us
--------------------------------------------------------------------------- */

  .chooseUsTexts {
    padding: 0 2rem;
  }

  .section {
    flex-direction: column;
    align-items: start;
  }

  .imgLaptop {
    padding-top: 2rem;
    width: 30rem;
    height: auto;
  }

  .chooseUs {
    display: flex;
    margin-top: 12rem;
    justify-content: space-between;
  }

  .chooseUsText {
    display: flex;
    flex-direction: column;
  }

  .chooseUsTitle {
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: start;
  }

  .chooseUsDescription {
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 28rem;
    margin: 1.6rem 0;
  }

  .chooseUsInfoTitle {
    width: 22rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /*---------------------------------------------------------------------------
      /// Build the Future of Technology with Us
--------------------------------------------------------------------------- */

  .buildFeature {
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    margin-top: 10rem;
  }

  .buildFeatureTitle {
    margin-top: 2rem;
    width: 100%;
    font-size: 2.6rem;
    line-height: 3.4rem;
  }

  .buildFeatureDescription {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .buildFeatureImg {
    width: 26rem;
    margin-top: 3rem;
  }

  .buildFeatureBtn {
    width: 100%;
  }

  /*---------------------------------------------------------------------------
      /// Reviews
--------------------------------------------------------------------------- */

  .review {
    padding: 5rem 2rem;
  }

  .reviewTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 4rem;
  }

  .reviewBtn {
    width: 100%;
    display: block;
    margin-bottom: 1.6rem;
  }

  .reviewCard {
    width: 100%;
    padding: 40px 35px;
  }

  .reviewCards {
    gap: 16px;
  }

  .cardFeeback {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .user {
    display: flex;
    align-items: center;
    margin-top: 2.4rem;
    gap: 2.2rem;
  }

  .userAvatar {
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
  }

  .userFullName {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .userRole {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 4px;
  }

  /*---------------------------------------------------------------------------
      /// StartWithMe
--------------------------------------------------------------------------- */

  .starts {
    padding: 2rem;
    flex-direction: column;
  }

  .startText {
    margin-top: 4rem;
  }

  .startTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .startDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 80%;
    margin-top: 1.6rem;
  }

  .startInfo {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    gap: 1.6rem;
  }

  .startInfoTitle {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .starts .video {
    margin-top: 4rem;
  }
}
