.container {
  padding: 0 21rem;
}

.navbar {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 7.2rem;
  height: 3.4rem;
}

.navLinks {
  display: flex;
  gap: 2.7rem;
}

.navLinks a {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  transition: 0.1s ease;
}

.navLinks a:hover {
  color: #88b702;
  transition: 0.1s ease;
}

.downloadCV {
  background-color: #88b702;
  padding: 2rem 3.2rem;
  color: white;
  border-radius: 8rem;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.6px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s ease;
}

.downloadCV:hover {
  background-color: #6fa001;
  transition: 0.1s ease;
}

.menuBtn {
  display: none;
}

.mobileMenu {
  display: none;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 0 6rem;
  }

  .logo {
    width: 5.8rem;
    height: 2.7rem;
  }

  .navLinks {
    gap: 2rem;
  }

  .navLinks a {
    font-size: 1.4rem;
  }

  .downloadCV {
    padding: 1.6rem 2.8rem;
    border-radius: 8rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 0 4rem;
  }

  .logo {
    width: 5rem;
    height: 2.3rem;
  }

  .navLinks {
    gap: 1.8rem;
  }

  .navLinks a {
    font-size: 1.2rem;
  }

  .downloadCV {
    padding: 1.4rem 2.2rem;
    border-radius: 6rem;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: 1.2px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }

  .navbar {
    height: auto;
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .logo {
    width: 9.7rem;
    height: 4.5rem;
  }

  .navLinks {
    display: none;
  }

  .downloadCV {
    display: none;
  }

  .menuBtn {
    display: block;
    background: none;
    border: none;
  }

  .menuBtn img {
    width: 4.5rem;
  }

  .mobileMenu {
    display: block;
    background: #050605;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 24px 20px;
    transform: translateY(-200%);
    transition: 0.3s ease;
    z-index: 99;
  }

  .mobileMenu.open {
    transform: translateY(0);
  }

  .mobileMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .mobileMenu a {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 600;
    color: #ffffff;
  }

  .mobileCV {
    margin: 2.4rem 2rem;
    background-color: #88b702;
    padding: 2.7rem 6rem;
    color: white;
    border-radius: 8rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1.6px;
    cursor: pointer;
  }
}
