.container {
  max-width: 1195px;
  margin: 0 auto;
}

.blog {
  margin-top: 40px;
  margin-bottom: 110px;
}

.blog span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 66px;
  line-height: 79.99px;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
}

.blog p {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 568px;
  margin-top: 8px;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .blog {
    margin-top: 40px;
  }

  .blog span {
    flex-direction: column;
    align-items: start;
  }

  .blog h1 {
    font-size: 38px;
    line-height: 46px;
    text-align: start;
  }

  .blog p {
    font-size: 16px;
    line-height: 26px;
    text-align: start;
    width: 320px;
    margin: 16px 0;
  }
}
