.container {
  padding: 0 12.6rem;
}

.pricing {
  margin-top: 4rem;
  margin-bottom: 11rem;
}

.pricingTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 6.6rem;
  line-height: 8rem;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
}

.pricingCards {
  margin-top: 2rem;
  gap: 2.6rem;
}

.pricingCard {
  padding: 4.8rem 3rem;
  background-color: #1e1e1e;
  border-radius: 4rem;
}

.pricingCard .tariff {
  border-radius: 1000px;
  background-color: #88b702;
  color: #ffffff;
  padding: 1rem 1.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.pricingCard h1 {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.5rem;
  margin-top: 1.6rem;
}

.pricingCard p {
  width: 32.1rem;
  margin-top: 1.6rem;
  text-align: start;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.pricingCard ul p {
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.listFeature {
  list-style: disc;
  margin-left: 1.4rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}

.listFeature::marker {
  color: #88b702;
}

.btnNextPage {
  width: 100%;
  padding: 2.8rem 0;
  background-color: #88b702;
  border-radius: 8rem;
  margin-top: 3.8rem;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.btnNextPage:active {
  background-color: #6fa001;
  transition: 0.1s ease;
}

.pricingCardsWrapper {
  width: 100%;
  position: relative;
}

.pricingDots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
}

.pricingDot {
  width: 12px;
  height: 12px;
  background: #444;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 1;
}

.pricingDotActive {
  background: #88b702;
  transform: scale(1.2);
}

/* ===== ADAPTIVE ===== */

@media (max-width: 1280px) {
  .pricingDots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
  }
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 0 6rem;
  }

  .pricingDescription {
    width: 60%;
  }

  .pricingCards {
    gap: 1.6rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 0 4rem;
  }

  .pricingTitle {
    font-size: 3.4rem;
    line-height: 4.2rem;
  }

  .pricingDescription {
    font-size: 1.6rem;
    width: 70%;
  }

  .pricingCard {
    padding: 3rem 2rem;
  }

  .pricingCard h1 {
    font-size: 3.4rem;
  }

  .pricingCard p {
    width: 28.1rem;
  }

  .btnNextPage {
    padding: 2rem 0;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }

  .pricingTitle {
    font-size: 3.8rem;
    text-align: start;
  }

  .pricingDescription {
    width: 100%;
    text-align: start;
  }

  .pricingCard {
    padding: 4.8rem 3rem;
  }

  .pricingCard p {
    width: 28.1rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .container {
    padding: 0 2rem;
  }

  .pricingTitle {
    font-size: 3.8rem;
    text-align: start;
  }

  .pricingCard {
    padding: 4.8rem 3rem;
  }

  .pricingCard p {
    width: 90%;
  }

  .btnNextPage {
    width: 100%;
    padding: 2.8rem 0;
    background-color: #88b702;
    border-radius: 8rem;
    margin-top: 3.8rem;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
  }
}
