.container {
  max-width: 1195px;
  margin: 0 auto;
}

.pricing {
  margin-top: 40px;
  margin-bottom: 110px;
}

.pricing h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 66px;
  line-height: 79.99px;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
}

.pricing p {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: 568px;
  margin: 16px auto;
}

.pricingCards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.pricingCard {
  width: 381px;
  height: 612px;
  padding: 48px 30px;
  background-color: #1e1e1e;
  border-radius: 40px;
}

.pricingCard .tariff {
  border-radius: 1000px;
  background-color: #88b702;
  color: #ffffff;
  padding: 9px 14px;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  vertical-align: middle;
  text-transform: uppercase;
}

.pricingCard h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  line-height: 55.02px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-align: start;
  margin-top: 16px;
}

.pricingCard p {
  width: 321px;
  margin-top: 16px;
  text-align: start;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.pricingCard ul {
  margin-top: 40px;
}

.pricingCard ul p {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 25.99px;
  letter-spacing: 0.9px;
  vertical-align: middle;
  text-transform: uppercase;
}

.listFeature {
  list-style: disc;
  margin-left: 14px;
  margin-bottom: 16px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.listFeature::marker {
  color: #88b702;
}

.btnNextPage {
  width: 321px;
  height: 70px;
  background-color: #88b702;
  border-radius: 80px;
  margin-top: 38px;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.1s ease;
}

.btnNextPage:hover {
  background-color: #6fa001;
  transition: 0.1s ease;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .pricing {
    margin-top: 40px;
  }

  .pricing h1 {
    font-size: 38px;
    line-height: 46px;
    text-align: start;
  }

  .pricing p {
    font-size: 16px;
    line-height: 26px;
    text-align: start;
    width: 320px;
    margin: 16px 0;
  }

  .pricingCards {
    margin-top: 48px;
    gap: 16px;
  }

  .pricingCard {
    width: 358px;
  }

  .btnNextPage {
    width: 298px;
  }
}
