.posts {
  margin-top: 17rem;
  margin-bottom: 8rem;
}

.postHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postHeadTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  letter-spacing: 0px;
}

.postBtns {
  display: flex;
  gap: 1.6rem;
}

.postButton {
  color: #fff;
  background-color: #88b702;
  padding: 0.8rem 2.4rem;
  border-radius: 1000px;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.1s ease;
}

.postButton:hover {
  background-color: #6fa001;
  transition: 0.1s ease;
}

.postCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.postCard {
  overflow: hidden;
  width: 38rem;
  padding-bottom: 3.4rem;
  border-radius: 4rem;
  background-color: #1e1e1e;
}

.postCardButton {
  padding: 1rem 1.4rem;
  border-radius: 1000px;
  background-color: #88b702;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.7px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: 2.2rem;
  margin-top: -2.2rem;
}

.postCardTitle {
  margin-left: 2.2rem;
  margin-top: 4rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 2.2rem;
  line-height: 3.1rem;
}

.postCardDescription {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-left: 2.2rem;
  margin-top: 3.2rem;
  margin-bottom: 3.8rem;
}

.postCardLine {
  width: 88%;
  margin: 0 auto;
  border: 1px solid #343534;
}

.user {
  display: flex;
  gap: 2.2rem;
  margin-left: 2.2rem;
  margin-top: 2.8rem;
}

.avatarIcon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  height: 4rem;
  margin-top: 1rem;
  gap: 0.8rem;
}

.userFullName {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
}

.aboutUser {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .posts {
    margin-top: 170px;
    margin-bottom: 80px;
  }

  .posts span {
    flex-direction: column;
    gap: 24px;
  }

  .posts span h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .posts span div {
    flex-direction: column;
  }

  .posts span div button {
    padding: 0;
    width: 354px;
    height: 48px;
    font-size: 16px;
    line-height: 26px;
  }

  .card {
    width: 358px;
    height: 580px;
  }

  .card p {
    font-size: 16px;
    line-height: 26px;
  }
}
