.container {
  max-width: 1180px;
  margin: 0 auto;
}

.posts {
  margin-top: 170px;
  margin-bottom: 80px;
}

.posts span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts span h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  line-height: 55.02px;
  letter-spacing: 0px;
}

.posts span div button {
  color: #fff;
  background-color: #88b702;
  padding: 8px 24px;
  border-radius: 1000px;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.1s ease;
}

.posts span div button:hover {
  background-color: #6fa001;
  transition: 0.1s ease;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: 382px;
  height: 590px;
  border-radius: 40px;
  background-color: #1e1e1e;
}

.card button {
  width: 109px;
  height: 36px;
  border-radius: 1000px;
  background-color: #88b702;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: 22px;
  margin-top: -22px;
}

.card h3 {
  margin-left: 22px;
  margin-top: 40px;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 31px;
}

.card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-left: 22px;
  margin-top: 32px;
  margin-bottom: 38px;
}

.card hr {
  width: 88%;
  margin: 0 auto;
  border: 1px solid #343534;
}

.user {
  display: flex;
  gap: 22px;
  margin-left: 22px;
  margin-top: 28px;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user span {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  height: 40px;
  margin-top: 10px;
  gap: 8px;
}

.user span h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
}

.user span h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .posts {
    margin-top: 170px;
    margin-bottom: 80px;
  }

  .posts span {
    flex-direction: column;
    gap: 24px;
  }

  .posts span h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .posts span div button {
    padding: 0;
    width: 354px;
    height: 48px;
    font-size: 16px;
    line-height: 26px;
  }

  .card {
    width: 358px;
    height: 580px;
  }

  .card p {
    font-size: 16px;
    line-height: 26px;
  }
}
