.container {
  max-width: 1195px;
  margin: 0 auto;
}

.card {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 40px;
  margin-bottom: 80px;
}

.card div {
  width: 612px;
  padding: 58px 46px;
}

.card div button {
  width: 102px;
  height: 36px;
  border-radius: 1000px;
  background-color: #88b702;
  color: #fff;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  vertical-align: middle;
  text-transform: uppercase;
}

.card div h2 {
  margin-top: 21px;
  width: 487px;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 40.01px;
  letter-spacing: 0.28px;
  vertical-align: middle;
}

.card div p {
  width: 464px;
  margin-top: 16px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.card img {
  width: 586px;
  height: 334px;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .card {
    position: relative;
    flex-direction: column;
    margin-bottom: 580px;
  }

  .card div {
    width: 358px;
    padding: 58px 24px;
    position: absolute;
    top: 215px;
    background-color: #1e1e1e;
    border-radius: 0 0 40px 40px;
  }

  .card div button {
    position: absolute;
    top: 16px;
  }

  .card div h2 {
    width: 311px;
    margin-top: 21px;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0;
  }

  .card div p {
    width: 311px;
    margin-top: 16px;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .card img {
    position: absolute;
    top: 0;
    width: 358px;
    height: 215px;
  }
}
