/* @media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .OurPrinciples span {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .OurPrinciples span p {
    font-size: 16px;
    line-height: 26px;
    width: 330px;
  }

  .cards {
    margin-top: 32px;
    gap: 16px;
  }

  .card {
    width: 358px;
    height: auto;
    padding: 58px 32px;
    flex-direction: column;
  }

  .cardText {
    width: 294px;
    margin-left: 0;
    margin-top: 24px;
  }
}  */

.container {
  padding: 17rem 21rem;
}

.headTitle {
  padding: 0 2.4rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 6.6rem;
  line-height: 7rem;
  text-align: center;
}

.headDescription {
  padding: 2.1rem 24rem;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

/* <---------------------------------------------------------------------------
      /// Our Principles
---------------------------------------------------------------------------> */

.ourPrinciples {
  padding: 0 12.6rem;
}

.ourPrincipleTexts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ourPrincipleTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  letter-spacing: 0px;
  vertical-align: middle;
}

.ourPrincipleDescription {
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 40%;
}

.principleCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.8rem;
  gap: 2.8rem;
}

.principleCard {
  display: flex;
  background-color: #1e1e1e;
  border-radius: 40px;
  padding: 5.8rem 3.2rem;
  width: 48%;
}

.principleCardIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #88b702;
  border-radius: 2rem;
  width: 6.8rem;
  height: 6.8rem;
}

.principleCardText {
  width: 80%;
  margin-left: 2.4rem;
}

.principleCardTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.9px;
  vertical-align: middle;
  text-transform: uppercase;
}

.principleCardDescription {
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 1rem;
}

/* <---------------------------------------------------------------------------
      /// Our Mission
---------------------------------------------------------------------------> */

.ourMission {
  padding: 12.6rem;
}

.section {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  margin-bottom: 5rem;
  overflow: hidden;
}

.worldImg {
  width: 100%;
  height: fit-content;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 14.2rem;
}

.infoTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  letter-spacing: 0px;
  vertical-align: middle;
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 1.6rem;
}

.description,
.secondDescription {
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* <---------------------------------------------------------------------------
      /// Our Skils
---------------------------------------------------------------------------> */

.skills {
  padding: 4rem 12.6rem;
}

.title {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 2rem;
}

.skillBoxs {
  display: flex;
  flex-wrap: wrap;
  gap: 12rem;
}

.skillBoxTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 2.4rem;
  line-height: 5.5rem;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-bottom: 1.2rem;
}

.listItem {
  margin-bottom: 4px;
  font-weight: 400;
  font-style: Medium;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: 0px;
  vertical-align: middle;
  cursor: pointer;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 10rem 6rem;
  }

  .headTitle {
    width: 70rem;
    margin: 0 auto;
    padding: 0;
    font-style: Bold;
    font-size: 4.6rem;
    line-height: 5.2rem;
  }

  .headDescription {
    width: 50rem;
    margin: 0 auto;
    padding: 1.8rem 0;
    font-size: 1.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Principles
---------------------------------------------------------------------------> */

  .ourPrinciples {
    padding: 0 6rem;
  }

  .principleCard {
    flex-direction: column;
  }

  .principleCardText {
    margin-left: 0;
    margin-top: 3rem;
  }

  .principleCardDescription {
    width: 100%;
  }

  /* <---------------------------------------------------------------------------
      /// Our Mission
---------------------------------------------------------------------------> */

  .ourMission {
    padding: 6rem;
  }

  .section {
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    margin-bottom: 5rem;
    overflow: hidden;
  }

  .worldImg {
    width: 50%;
    height: fit-content;
  }

  .infoBox {
    display: flex;
    flex-direction: column;
    gap: 14.2rem;
  }

  .infoTitle {
    font-weight: 700;
    font-style: Bold;
    font-size: 4.2rem;
    line-height: 5.5rem;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .descriptions {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 1.6rem;
  }

  .description,
  .secondDescription {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  /* <---------------------------------------------------------------------------
      /// Our Skils
---------------------------------------------------------------------------> */

  .skills {
    padding: 4rem 6rem;
  }

  .skillBoxs {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 10rem 4rem;
  }

  .headTitle {
    width: 55rem;
    margin: 0 auto;
    font-style: Bold;
    font-size: 3.4rem;
    line-height: 4.2rem;
  }

  .headDescription {
    width: 70%;
    margin: 0 auto;
    padding: 1.4rem 0;
    font-size: 1.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Principles
---------------------------------------------------------------------------> */

  .ourPrinciples {
    padding: 0 6rem;
  }

  .ourPrincipleTexts {
    flex-direction: column;
  }

  .ourPrincipleTitle {
    text-align: center;
  }

  .ourPrincipleDescription {
    width: 70%;
    text-align: center;
  }

  .principleCards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.8rem;
    gap: 1.6rem;
  }

  .principleCard {
    flex-direction: column;
  }

  .principleCardText {
    margin-left: 0;
    margin-top: 3rem;
  }

  .principleCardTitle {
    font-size: 1.8rem;
  }

  .principleCardDescription {
    width: 100%;
    font-size: 1.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Mission
---------------------------------------------------------------------------> */

  .ourMission {
    padding: 4rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    margin-bottom: 5rem;
    overflow: hidden;
  }

  .worldImg {
    width: 100%;
    height: fit-content;
  }

  .infoBox {
    display: flex;
    flex-direction: column;
    gap: 14.2rem;
  }

  .infoTitle {
    font-weight: 700;
    font-style: Bold;
    font-size: 4.2rem;
    line-height: 5.5rem;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .descriptions {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 1.6rem;
  }

  .description,
  .secondDescription {
    font-weight: 400;
    font-style: Regular;
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  /* <---------------------------------------------------------------------------
      /// Our Skils
---------------------------------------------------------------------------> */

  .skills {
    padding: 2rem 4rem;
  }

  .skillBoxs {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }

  .headTitle {
    width: 100%;
    padding: 0;
    text-align: start;
    font-style: Bold;
    font-size: 3.2rem;
    line-height: 4.6rem;
  }

  .headDescription {
    width: 100%;
    padding: 1.6rem 0;
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Principles
---------------------------------------------------------------------------> */

  .ourPrinciples {
    padding: 0 2.4rem;
  }

  .ourPrincipleTexts {
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .ourPrincipleTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
    text-align: start;
  }

  .ourPrincipleDescription {
    width: 70%;
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .principleCards {
    flex-direction: column;
    margin-top: 2.8rem;
    gap: 1.6rem;
  }

  .principleCard {
    width: 100%;
    flex-direction: column;
  }

  .principleCardText {
    margin-left: 0;
    margin-top: 3rem;
  }

  .principleCardTitle {
    font-size: 1.8rem;
  }

  .principleCardDescription {
    width: 100%;
    font-size: 1.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Mission
---------------------------------------------------------------------------> */

  .ourMission {
    padding: 2.4rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    margin-bottom: 5rem;
    overflow: hidden;
  }

  .worldImg {
    width: 100%;
    height: fit-content;
  }

  .infoBox {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  .infoTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .descriptions {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 1.6rem;
  }

  .description,
  .secondDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Skils
---------------------------------------------------------------------------> */

  .skills {
    padding: 2rem 2.4rem;
  }

  .skillBoxs {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .container {
    padding: 0 2rem;
  }

  .headTitle {
    width: 100%;
    padding: 0;
    text-align: start;
    font-style: Bold;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .headDescription {
    width: 100%;
    padding: 1.6rem 0;
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Principles
---------------------------------------------------------------------------> */

  .ourPrinciples {
    padding: 0 2rem;
  }

  .ourPrincipleTexts {
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .ourPrincipleTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
    text-align: start;
  }

  .ourPrincipleDescription {
    width: 70%;
    text-align: start;
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding: 1.6rem 0;
  }

  .principleCards {
    flex-direction: column;
    margin-top: 2.8rem;
    gap: 1.6rem;
  }

  .principleCard {
    width: 100%;
    flex-direction: column;
  }

  .principleCardText {
    margin-left: 0;
    margin-top: 3rem;
  }

  .principleCardTitle {
    font-size: 1.8rem;
  }

  .principleCardDescription {
    width: 100%;
    font-size: 1.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Mission
---------------------------------------------------------------------------> */

  .ourMission {
    padding: 2rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    justify-content: center;
    margin-bottom: 5rem;
    overflow: hidden;
  }

  .worldImg {
    width: 100%;
    height: fit-content;
  }

  .infoBox {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  .infoTitle {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .descriptions {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 1.6rem;
  }

  .description,
  .secondDescription {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  /* <---------------------------------------------------------------------------
      /// Our Skils
---------------------------------------------------------------------------> */

  .skills {
    padding: 2rem 2rem;
  }

  .skillBoxs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
