.container {
  max-width: 872px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.title {
  margin-top: 120px;
  text-align: center;
  font-weight: 700;
  font-style: Bold;
  font-size: 66px;
  line-height: 79.99px;
  letter-spacing: -1px;
  vertical-align: middle;
  margin-bottom: 80px;
}

.item {
  border-bottom: 2px solid #333;
  padding: 32px 0;
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 29.99px;
  letter-spacing: 0.28px;
  vertical-align: middle;
}

.icon {
  font-size: 24px;
}

.answer {
  margin-top: 12px;
  color: #cccccc;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-left: 20px;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .question {
    font-size: 18px;
    line-height: 29.99px;
    letter-spacing: 0.28px;
  }

  .icon {
    font-size: 18px;
  }

  .answer {
    font-size: 16px;
    line-height: 26px;
    margin-left: 12px;
  }
}
