.container {
  width: 1198px;
  margin: 0 auto;
}

.container2 {
  width: 760px;
  margin: 0 auto;
}

.image1 {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.container2 h1 {
  margin-top: 32px;
  font-weight: 700;
  font-style: Bold;
  font-size: 42px;
  line-height: 55.02px;
  letter-spacing: -0.42px;
  vertical-align: middle;
}

.container2 span {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container2 span p {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.container2 h2 {
  margin-top: 40px;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 29.99px;
  letter-spacing: 0.28px;
  vertical-align: middle;
}

.image2 {
  width: 1000px;
  height: 500px;
  margin: 40px auto;
}

.card {
  width: 1000px;
  background-color: #1e1e1e;
  margin: 64px auto;
  padding: 80px 192px;
  border-radius: 40px;
}

.card h3 {
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 37.99px;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .container2 {
    width: 358px;
    margin: 0 auto;
  }

  .image1 {
    width: 100%;
    height: auto;
    margin-top: 32px;
  }

  .container2 h1 {
    margin-top: 32px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0;
  }

  .container2 span {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .container2 span p {
    font-size: 16px;
    line-height: 26px;
  }

  .container2 h2 {
    margin-top: 40px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0;
  }

  .image2 {
    width: 358px;
    height: 202px;
    margin: 32px auto;
  }

  .card {
    width: 358px;
    margin: 40px auto;
    padding: 32px;
  }

  .card h3 {
    font-size: 16px;
    line-height: 26px;
  }
}
