.container {
  width: 930px;
  margin: 0 auto;
}

.header {
  padding-top: 170px;
  padding-bottom: 206px;
}

.header h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 66px;
  line-height: 79.99px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}

.header p {
  width: 568px;
  margin: 20px auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header h1 {
    width: 100%;
    font-size: 36px;
    line-height: 46px;
    text-align: start;
  }

  .header p {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    text-align: start;
    margin-top: 26px;
  }
}
