.review {
  padding: 20.6rem 12.6rem;
}

.reviewTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  margin-bottom: 4rem;
}

.reviewBtn {
  background-color: #88b702;
  margin-top: 2.2rem;
  width: 35.8rem;
  height: 7rem;
  border-radius: 8rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.6px;
  text-align: center;
  color: #ffffff;
  display: none;
}

.card {
  width: 48.5%;
  background: #1e1e1e;
  border-radius: 40px;
  padding: 65px 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.cardFeeback {
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.user {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  gap: 2.2rem;
}

.userAvatar {
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 50%;
}

.userFullName {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
}

.userRole {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-top: 6px;
}

@media (max-width: 391px) {
  .container {
    width: 358px;
    margin: 0 auto;
  }

  .review {
    margin-top: 120px;
  }

  .review h1 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 32px;
  }

  .review button {
    display: block;
    margin-bottom: 32px;
  }

  .card {
    flex: 0 0 343px;
    height: 471px;
  }

  .cards {
    gap: 16px;
  }

  .card p {
    font-size: 18px;
    line-height: 32px;
    width: 243px;
  }
}
