.container {
  max-width: 55.8rem;
  margin: 0 auto;
}

.notFound {
  margin-top: 16rem;
  margin-bottom: 22rem;
}

.notFound h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 18rem;
  line-height: 16rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #88b702;
}

.notFound h2 {
  margin-top: 1.6rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  letter-spacing: -0.42px;
  text-align: center;
  vertical-align: middle;
}

.notFound p {
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 1.6rem;
}

.notFound div {
  display: flex;
  gap: 2.4rem;
  width: 36.6rem;
  margin: 4rem auto;
}

.notFound div a button {
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: 1.6px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.notFound div a:first-child {
  background-color: #88b702;
  width: 19.2rem;
  height: 7rem;
  border-radius: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFound div a:last-child {
  background-color: #232323;
  opacity: 0.5;
  width: 15rem;
  height: 7rem;
  border-radius: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 390px) and (max-width: 1280px) {
  .container {
    width: 35.8rem;
    margin: 0 auto;
  }

  .notFound {
    margin-top: 11.4rem;
    margin-bottom: 18.8rem;
  }

  .notFound h1 {
    font-size: 12rem;
    line-height: 12rem;
  }

  .notFound h2 {
    margin-top: 3.2rem;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 0;
  }

  .notFound p {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .notFound div {
    flex-direction: column;
    gap: 1.6rem;
    width: 35.8rem;
    margin-top: 3.2rem;
  }

  .notFound div a:first-child,
  .notFound div a:last-child {
    width: 35.8rem;
    height: 7rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 1.6px;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .container {
    width: 32rem;
    margin: 0 auto;
  }

  .notFound {
    margin-top: 8rem;
    margin-bottom: 14.8rem;
  }

  .notFound h1 {
    font-size: 12rem;
    line-height: 12rem;
  }

  .notFound h2 {
    margin-top: 3.2rem;
    font-size: 2.8rem;
    line-height: 3.8rem;
    letter-spacing: 0;
  }

  .notFound p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .notFound div {
    flex-direction: column;
    gap: 1.6rem;
    width: 90%;
    margin-top: 3.2rem;
  }

  .notFound div a:first-child,
  .notFound div a:last-child {
    width: 90%;
    height: 7rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 1.6px;
  }
}